#banner 
  .banner_content 
    %h1 File %Cabinet 
    %p Your Lifes work. 
    %button= link_to "Enter", new_user_registration_path 

#callouts  
  .callout_inner 
    .wrapper 
      %h2 Organize 
      %p I'm baby green juice bushwick forage, taxidermy bicycle rights authentic put a bird on it celiac leggings gentrify mixtape you probably haven't heard of them YOLO. Quinoa direct trade squid, asymmetrical forage DIY butcher intelligentsia sustainable pitchfork plaid tumblr. Palo santo craft beer tote bag vinyl blue.

#bottom_cta 
  .wrapper 
    %h2 Go ahead! 
    %br
    %button= link_to "Join Now", new_user_registration_path  